{% extends 'base.html' %}

{% block title %}Todo Lists{% endblock title %}

{% block content %}
<main>
    <div>
        <main>
            <div>
                <h1>{{ todo_object.name }}</h1>
                <a href="{% url 'todo_list_update' todo_object.id %}">Edit</a>
                <p><a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a></p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>Task</tr>
                        <tr>Due date</tr>
                    </thead>
                    <tbody>
                        {% for item in todo_object.items.all %}
                        <tr>
                            <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></td>
                            <td>{{ item.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</main>
{% endblock content %}
