{% extends 'base.html' %}

{% block title %}Todo Lists{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Update item</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <Button>Update</Button>
        </form>
    </div>
</main>
{% endblock content %}
