{% extends 'base.html' %}

{% block title %}Todo Lists{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Lists</h1>

        <p>
            <a href="{% url 'todo_list_create' %}">Create a list</a>
            <a href="{% url 'todo_item_create' %}">Create an item</a>
        </p>
        <table>
            <thead>
                <tr>Name</tr>
                <tr>Number of items</tr>
            </thead>
            <tbody>
                {% for list in todo_list_list %}
                <tr>
                    <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>;
                    <td>{{ list.items.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
